# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.venv/
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Sample media (copyrighted ROMs/songs) — keep the folder, ignore contents
samples/*
!samples/.gitkeep

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
